#page {
    height: 200px;
    width: 400px;
    /*background: black;*/

    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

    text-align: center;
}

#answer {
    padding: 5px 5px 5px 0;
    width: 100%;
    text-align: center;
    outline: none;
    border: 1px grey solid;
}

#result {
    display: none;
}

#buttons {
    width: 100%;
    text-align: right;
}

#buttons .done {
    color: green;
}

.translation {
    display: inline;
    font-size: medium;
    font-style: unset;
}

.translation.correct {
    color: #0d47a1;
}
.translation.similar {
    color: #764fc2;
}
